.App {
  text-align: left;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10vh;
  padding-right: 10vh;
  font-size: 16pt;
  padding-top: 0;
}
h1::selection {
  background-color:  #B3DDF2; /* WebKit/Blink Browsers */
  color: black;
}
h1::-moz-selection {
  background-color:  #B3DDF2; /* Gecko Browsers */
  color: black;
}
p::selection {
  background-color:  #B3DDF2; /* WebKit/Blink Browsers */
  color: black;
}
p::-moz-selection {
  background-color:  #B3DDF2; /* Gecko Browsers */
  color: black;
}
.link {
  color: #B3DDF2;
  font-size: 12pt;
}
.here {
  color: #B3DDF2;
  font-size: 16pt;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  margin-bottom: 1vw;
  height: 5vh;
  width: 25vw
  

}
.dropdown {
  width: 25vw;
  display: inline-block;
  text-align: center;
  color: black;

}
.dropdownContainer{
  margin-bottom: 2vh;

}
.ward{
  display: inline-block;
}

.submit {
  height: 5vh;
  background-color: #B3DDF2;
  font-size: 14pt;
  color: black;
  border-radius: 2px;
  border: 1;
  border-style: solid;
  border-color:#B3DDF2;
}